{% extends 'base.html' %}

{% load static %}

{% block content %}

<br>
<nav class="level ">
  <div class="level-item has-text-centered">
    <figure class="image is-128x128">
      {% if profile.picture %}
      <img class="is-rounded" src="{{ profile.picture.url }}">
      {% else %}
      <img class="is-rounded" src="https://bulma.io/images/placeholders/256x256.png">
      {% endif %}
    </figure>
  </div>
</nav>
<article class="media has-text-centered">

  <div class="media-content">

    <div class="content">
      <h2 style="font-weight: bold;" class="title is-2">{% if profile.first_name %}{{ profile.first_name }} {{ profile.last_name }} {% endif %}</h2>
      <h3 class="subtitle is-4">@{{ profile.user }}</h3>

      {% if user.is_authenticated and user != profile.user %}
      <div class="media-right">
        {% if follow_status == True %}
        <a href="{% url 'follow' profile.user 0 %}" class="button is-danger">Unfollow</a>
        {% else %}
        <a href="{% url 'follow' profile.user 1 %}" class="button is-success">Follow</a>
        {% endif %}
      </div>
      {% endif %}

    </div>

    <p class="subtitle is-5">{% if profile.profile_info %}{{ profile.profile_info }}{% endif %}</p>

    {% if user.is_authenticated and user == profile.user %}
    <a href="{% url 'edit-profile' %}" class="button">Edit profile</a>
    {% endif %}

  </div>

</article>


<section class="section">
  <div class="container">

    <div class="tabs is-centered">
      <ul>
        <li class="{% if url_name == 'profile' %}is-active{% endif %}">
          <a href="{% url 'profile' profile.user %}"><i class="material-icons">dashboard</i>Posts</a>
        </li>

        <li class="{% if url_name == 'profilefavorites' %}is-active{% endif %}">
          <a href="{% url 'profilefavorites' profile.user %}"><i class="material-icons">save_alt</i>Saved</a>
        </li>
      </ul>
    </div>


    <div class="columns is-mobile is-centered">
      <div class="column is-full-mobile is-three-quarters-tablet is-three-quarters-desktop is-three-quarters-widescreen is-three-quarters-fullhd">
      {% for post_item in posts %}
          <div class="card ">
            <div class="card-image">
      
              {% if post_item.content.first.file.name|slice:"-3:" != 'mp4' %}
              <figure class="image is-5by3">
                <a href="{{ post_item.get_absolute_url }}">
                  <img src="{{ post_item.content.first.file.url }}" alt="Placeholder image">
                </a>
              </figure>
              {% else %}
              <a href="{{ post_item.get_absolute_url }}">
                <video width="1080" controls="controls" preload="metadata">
                  <source src="{{ post_item.content.first.file.url }}#t=0.5" type="video/mp4">
                </video>
              </a>
              {% endif %}
      
            </div>
            <div class="card-content">
              {% if post_item.posttitle%}
              <p class="title">
                “{{ post_item.posttitle }}”
              </p>
              {% else %}
              <p class="title">
                “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
              </p>
              {% endif %}
              <div class="content">
                <div style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ post_item.posttext }}</div>  
              </div>
              <hr>
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    {% if profile.picture %}
                    <img src="{{ profile.picture.url }}" alt="Placeholder image">
                    {% else %}
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    {% endif %}
                  </figure>
                </div>
                <div class="media-content">
                  {% if profile.first_name %}
                  <a href="{% url 'profile' post_item.user %}">
                    <p class="title is-4">{{ profile.first_name }} {{ profile.last_name }}</p>
                  </a>
                  {% else %}
                  <a href="{% url 'profile' post_item.user %}">
                    <p class="title is-4">Unknown</p>
                  </a>
                  {% endif %}
      
                  <p class="subtitle is-6">@{{ profile.user.username }}</p>
      
                  <p>{% for tag in post_item.tags.all %}<a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>{% endfor %}</p>
                  <br>
                  <strong><small>{{ post_item.posted }}</small></strong>
                </div>
      
      
                <div class="media-right">
                  <a href="{% url 'postlike' post_item.id %}"><i class="material-icons has-text-danger">favorite</i></a>
                  <p>{{ post_item.likes }} Likes</p>
                </div>
      
              </div>
      
      
      
            </div>
          </div>
          <br>
      {% empty %}
      <br>
      <h3 class="title is-3">You do not have any post!</h3>
      {% endfor %}
      </div>
    </div>

  </div>
  </div>



  </div>
</section>


{% endblock %}